.media {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .media .mediaTitle {
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 60px;
  }
  
  .mediaList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .mediaItem {
    background-color: gold;
    border-radius: 15px;
    width: 500px;
    height: 300px;
    margin: 20px;
    box-shadow: 0px 3px 15px white;
    flex-direction: column;
  }
  .mediaItem:hover {
    transform: scale(1.1);
    box-shadow: 0px 3px 15px red;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .mediaItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .mediaItem h1,
  .mediaItem p {
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 1300px) {
    .mediaList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .mediaList {
      grid-template-columns: 1fr;
    }
  }

  .soundcloud {
    padding:10px;
  }
  #video {
    position:fixed;
    z-index:-1;
    width:100%;
   }