.media {
  background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .media .mediaTitle {
    font-family: cursive;
    font-size: 60px;
  }
  
  .mediaList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .mediaItem {
    background-color: gold;
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px white
  }
  .mediaItem:hover {
    box-shadow: 0px 3px 15px red;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .mediaItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .mediaItem h1,
  .mediaItem p {
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 1300px) {
    .mediaList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .mediaList {
      grid-template-columns: 1fr;
    }
  }